/* Para resetar o código CSS*/
@import url('reset.css');

body {
  background-color: black;
}

/*Estilo dos Títulos de Segundo Escopo*/
h2 {
  font-size: 2rem; /* 1 rem equivale a 16px mais ou menos.*/
  color:rgb(51, 168, 219);
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
/* Cor dos Parágrafos*/
p {
  color: white;
}
/*Estilização da margem de todas as seções*/
section {
  margin: 100px auto;
}

/*Estilização do Banner*/
.banner {
  background-image: linear-gradient(rgba(22, 21, 21, 0.6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 60px; /*Afastar a logo do topo da página*/
  border-bottom: 1px solid #33A8DB80; /*Linha azul que divide as partes página*/
}
/*Estilização da DIV que contém logo*/
.banner .banner-content {
  color: white;
  width: 600px;
  margin: auto;
  text-align: center;
}
/*Estilização do Título Subsequente a Logo*/
.banner h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background: -webkit-linear-gradient(#33A8DB, #1472B7);
  background-clip: text;
  -webkit-background-clip: text;
}
/*Estilização do texto que expande o conceito do título*/
.banner p {
  font-size: 1.25rem;
  margin: 16px 0 24px;
}
/*Estilização da Logo em Si*/
.banner .logo {
  background-color: rgba(0, 0, 0, .2);
  height: 260px;
  width: 260px;
  margin: auto;
  border-radius: 50%;
  padding: 16px;
  margin-bottom: 16px;
}

.banner .logo img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*Estilização do botão*/
.banner .banner-content button {
  color: rgb(51, 168, 219);
  font-size: 1rem;
  font-weight: bold;
  padding: 16px 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: transparent;
  border-image: linear-gradient(rgb(59, 161, 205), rgb(21, 114, 183));
  border-image-slice: 10;
  border-radius: 30px;
}
/*Estilização do conteúdo do conteúdo do curso*/
#course-content {
  width: 800px;
  text-align: center;
}
/*Estilização dos módulos do curso*/
#course-content .modules-list {
  margin: 24px 0;
}
/*Estilização de cada módulo*/
#course-content .modules-list .module {
  color: white;
  width: 530px;
  margin: 0 auto 24px;
  border: 1px solid rgb(51, 168, 219);
  background-color: rgb(37, 37, 37);
  padding: 16px;
  border-radius: 100px;
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}
/*Muda cor do texto dentro das tags <span> ("módulo", no caso)*/
#course-content .modules-list .module span {
  color: #217fa7;
}
/*Estilização da imagem da mulher sob códigos*/
#transform-world {
  height: 560px;
  background-size: cover;
  background-image: url("../images/woman-code.png");
  background-attachment: fixed; /*Mantém imagem fixa mesmo com scroll movendo-se*/
  border-top: 1px solid rgb(41, 99, 125);
  border-bottom: 1px solid #33A8DB80;
  padding: 200px; /*Muda o texto de slogan de lugar*/
}
/*Customiza texto slogan da trilha*/
#transform-world p {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: lowercase;
  max-width: 250px;
  text-shadow: 3px 2px #33A8DB;
}
/*Estilização do contêiner da proxima imagem, bem como do texto dentro dele.*/
#professional-challenges {
  text-align: center;
  width: 800px;
}
/*Estilização da imagem desafios profissionais em Si*/
#professional-challenges img {
  margin: 32px 0;
}
/*Estilização do Rodapé -Contêiner*/
footer {
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
  border-top: 1px solid #33A8DB80;
}
/*Estilização do Rodapé -logo da DIO*/
footer .dio-logo {
  width: 300px;
}
/*Estilização do Rodapé -Tag de link*/
footer a {
  color: #33A8DB;
  font-weight: bold;
  text-decoration: none;
}